<Loggers>
    <!-- Suppress TestNG Internal Logs -->
    <Logger name="org.testng.internal.Utils" level="ERROR" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.testng" level="ERROR" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

    <!-- Suppress Selenium Logs -->
    <Logger name="org.openqa.selenium" level="ERROR" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

    <!-- Suppress WebDriverManager Logs -->
    <Logger name="io.github.bonigarcia.wdm" level="ERROR" additivity="false">
        <AppenderRef ref="Console"/>
    </Logger>

    <!-- Root Logger -->
    <Root level="INFO">
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>